.ui-mobile-viewport{
	font-size: 80%;
}
.voice-main{
	
}
.voice-main h2{
	color: #3eb249;
	font-size: 1.6em;
}
.ui-block{
	margin-bottom: 10px;
}
.voice-title{
	
}
.voice-title h4{
	margin-bottom: 0;
}
.voice-title h5{
	text-align: right;
	margin: 0;
	font-size: 70%;
}
.voice-title p{
	text-align: right;
	margin: 0;
	font-size: 70%;
}
.status{
	padding: 5px;
	background-color: #e5e5e5;
	height: 100px;
}
.status-left{
	width: 50px;
	height: 90px;
	float: left;
}
.status-left img{
	width: 45px;
}
.status-center{
	float: left;
	width: 70px;
	font-size: 90%;
}
.status-center p{
	float: left;
	margin: 0;
}
.status-center .progress{
	margin-bottom: 5px;
}
.status-right{
	float: left;
	font-size: 90%;
	margin-left: 5px;
}
.status-right p{
	margin: 0;
}
.voice-text{
}
.comment{
	list-style: none;
	padding: 0;
}
.comment-header{
	font-size: 70%;
}
.comment-text{
}
.comment-footer{
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	text-align: right;
	padding-bottom: 5px;
}
.comment-footer a{
	font-size: 80%;
	width: 100px;
}
.command-tab{
	position: relative;
	top: 20px;
	left: 90px;
	z-index: 1;
	max-width: 100px;
	background-color: white;
}
.monster-main{
	text-align: center;
}
.monster-main img{
	width: 150px;
}
.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
	background: none;
	border: 0;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}
.progress {
  height: 13px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 8px;
  line-height: 13px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}